*{
    margin: 0;
    padding: 0;
}

.container {
	display: grid;
    grid-template-columns:170px 1fr 1fr;
    /* 130px : menu, puis 2 colonnes de 1fr */
    grid-template-rows: 210px 80px repeat(12, 1fr) 80px; 
    /* 150px pour le grand titre, 150px, 12 lignes de 1fr, 80px pour le pied de page, TOTAL 15 lignes */
    min-height: 800px; 
    height: auto;
    width: 100%;
    background-image: url(./img/Carte-maritime-opacite-50.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.titre {
    color: #fcdc39;
	text-align: center;
    padding-top: 20px;
	background: #066bb5;
    font-family: "Fjalla One", "arial";
    font-size: 40px;
    line-height: 0.3;
    grid-area: 1 / 2 / span 1 / span 3;
    text-shadow: 4px 4px 2px #042d76;
    overflow: hidden;
}

.titre a:visited {
    color: #fcdc39;
}

.titre a:link {
    text-decoration: none;
}

.titre a:hover {
    cursor: pointer;
}

.accroche {
    padding-top: 20px;
    padding-left: 30px;
    grid-area: 2 / 2 / span 1 / span 2;
    text-align: center;
}

p {
	color: #042d76;
	font-family: "Open-Sans-Condensed", "Book-Antiqua";
    font-size: 1.2em;
}

h2 {
    color: #066bb5; 
    font-size: 2em;
    font-family: "Seaweed Script", "Impact";
    text-decoration: underline;
    overflow: auto;

}

h3 {
    color: #042d76;
    text-decoration: underline;
}

h6 {
    color: #042d76;
}




/* MENU DE GAUCHE*/




.menu {
    background: #066bb5;
    grid-area: 1 / 1 / span 15 / span 1;
    padding-top: 40px;
}

.menu p {
    color: #fcdc39;
    text-align: center;
    font-size: 20px;
    border: 2px solid #fcdc39;
    border-radius: 5px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 185px;
    box-shadow: 0 2px 2px 0 #042d76;
}

.menu ul {
    text-align: center;
    line-height: 1.7;
    margin-top: 45px;
    color: #042d76;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px
}

.pill-white {
  border: 0.5px solid #042d76;
  border-radius: 5px;
  text-align: center;
  background: #ffffe2;
  height: 35px;
  box-shadow: 0 2px 2px 0 #042d76;
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.menu a:visited {
    color: #042d76;
}




/* PIED DE PAGE */




footer {
    background: #066bb5; 
    background-size: cover;
    grid-area: 15 / 2 / 16 / 4;
}

footer p {
    color:#ffffe2;
    font-size: 20px;
    text-align: center;
}




/* PAGE 1 */





.boiteB {
    grid-area: 2 / 2 / span 3 / span 2;
    padding-left: 30px;
    padding-top: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
    z-index: 2;
}

.dessin3 {
    grid-area: 6 / 2 / span 8 / span 2;
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
}

/* LES PROTAGONISTES */

.boiteC{
     grid-area: 5 / 2 / span 2 / span 2;
    padding-left: 30px;
    padding-top: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
}

/* PHOTOS PAGE D'ACCUEIL */

.boiteMarine {
    grid-area: 7 / 2 / span 3 / span 1;
    display: grid;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boiteRaff {
    grid-area: 7 / 3 / span 3 / span 1;
    display: grid;
    justify-items: center;
     margin-top: 20px;
    margin-bottom: 20px;
}

.boiteEwenn{
    grid-area: 10 / 2 / span 3 / span 1;
    display: grid;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boiteToune {
    grid-area: 10 / 3 / span 3 / span 1;
    display: grid;
    justify-items: center;
     margin-top: 20px;
    margin-bottom: 20px;
}

.portrait {
    box-shadow: 4px 4px 2px #042d76;
    border: solid #042d76 2px;
    max-width: 230px;
    max-height: 230px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;    
    
}




/* PAGE 2 */




.noussuivre {
    grid-area: 3 / 2 / span 12 / span 2;
    grid-auto-rows: 100px;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    overflow: scroll;
    margin-bottom: 20px;
    min-width: 700px;
}

.jour {
    border: solid 2px rgb(4, 45, 118, 0.2); 
    box-shadow: 4px 4px 2px rgb(4, 45, 118, 0.2);
    border-radius: 4px;
    margin: 5px 100px;
    padding-bottom: 10px;
    height: 250px;
    min-width: 160px;
    display: flex; 
    flex-direction: row; 
}

.image {
}

.commentaire {
    font-family: "Courier New", "Open-Sans-Condensed", "Book-Antiqua";
    font-size: 1.1em;
    text-align: justify;
    padding: 30px 20px;
    overflow: scroll;
}



/* PAGE 3 */


.quiz {
    grid-area: 3 / 2 / span 6 / span 2;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
    
}

.color {
    grid-area: 7 / 2 / span 5/ span 2;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
}

.color h3 {
    
    margin-bottom: 20px;
    margin-top: 50px
}

.coloriages {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
}

.coloriage {
    border: 2px solid #042d76;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.rep {
    grid-area: 13 / 2 / span 2 / span 2;
}

.rep h3 {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.rep p {
    font-size: 0.8em;
}

.reponses {
    display: flex;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: justify;
}

.reponse {
    margin-left: 10px;
    margin-right: 10px;
}





/* PAGE 4 */



.mot {
    grid-area: 3 / 2 / span 2 / span 2;
    margin-left: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
}

.mail {
    text-decoration: underline;
    overflow: scroll; 
}

.evenement {
    grid-area: 4 / 2 / span 6 / span 2;
    margin-left: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    overflow: scroll;
}
.evenement a:visited {
    color: #042d76;
}


